<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <a href="#" [routerLink]="['/home']">NGRX STORE</a>
  <a href="#" class="example-spacer"></a>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button> -->
  <a href="#" class="example-spacer" [routerLink]="['/posts']">Posts</a>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
  <a href="#" [routerLink]="['/about']">About</a>
</mat-toolbar>